
<div class="cash-wrapper">
<a class="cash-action-button">
    <p>Обучение</p>
</a>

<a class="cash-action-button" asp-controller="Cash" asp-action="Test">
    <p>Тестирование</p>
</a>
</div>

@section css {
    <link href="~/css/cash.css" rel="stylesheet" asp-append-version="true" />
}