@model TestViewModel


<div class="text_error message">
    @Html.ValidationMessage("Error")
</div>


 @if (Model.CashQuestions.Any())
    {
        <div class="test-form">
           <form class="forms" method="post" asp-controller="Testing" asp-action="Test">
                <input type="datetime" asp-for=startDate name=startDate style="display:none" />   
                @for( int i=0; i<Model.CashQuestions.Count; i++)
                {                  
                  <div class="question question--hidden">
                    <div class="question-counter">@(i+1)/@Model.CashQuestions.Count</div>
                      <div class="cash-test-question">
                          <h2>@Model.CashQuestions[i].Question</h2>                    
                          <input type="hidden" asp-for="CashQuestions[i].Id"/>
                          <input type="hidden" asp-for="CashQuestions[i].Question" />
                 </div>
                
                 @for (int j=0; j<Model.CashQuestions[i].Answers.Count; j++)
                 {
                   <div class="cash-test-answers">
                        <p class="answer">@Model.CashQuestions[i].Answers[j].Answer</p>
                        <input type="hidden" asp-for="CashQuestions[i].Answers[j].Id" />
                        <input type="hidden" asp-for="CashQuestions[i].Answers[j].Answer" />
                        <input class="checkbox-answer" asp-for="CashQuestions[i].Answers[j].Choise" />
                  </div>
                 }
                  </div>
                }       
             <div class="btn-next">Далее</div>
                <div class="formslabel">
                    <input class="button-classic--hidden" id="sendbutton" type="submit" value="Отправить"/>
                </div>
          </form>      
        </div>
    }
@section css {
    <link href="~/css/testing.css" rel="stylesheet" asp-append-version="true" />
}
@section js {
    <script src="~/js/test.js" asp-append-version="true"></script>
}