@model CashTestViewModel

<div class="text_error message">
    @Html.ValidationMessage("Error")
</div>


<form class="forms" method="post" asp-controller="Test" asp-action="AddCashTest">
    <div class="formslabel">
        <label asp-for="CashTestName">Тема</label><br />
        <input class="formsfield" asp-for="CashTestName" />
        <span asp-validation-for="CashTestName" class="text_error"></span>
    </div>
    <div class="formslabel-button">
        <input class="form-button" type="submit" value="Создать" />
    </div>
</form>
@section css {
    <link href="~/css/test.css" rel="stylesheet" asp-append-version="true" />
}