@model TestQuestionViewModel

<div class="text_error message">
    @Html.ValidationMessage("Error")
</div>

<form class="forms" method="post" asp-controller="Test" asp-action="EditQuestion">
    <input type="hidden" asp-for="Id" />    
    <input type="hidden" asp-for="TestTopicId" />
    <div class="formslabel">
        <label asp-for="QuestionText">Вопрос</label><br />
        <input asp-for="QuestionText" />
        <span asp-validation-for="QuestionText" class="text_error"></span>
    </div>
    <div class="formslabel">
        <label asp-for="IsActual">Актуальность</label><br />
        <input asp-for="IsActual" />
        <span asp-validation-for="IsActual" class="text_error"></span>
    </div>
    <div class="formslabel">
        <input class="button_classic" type="submit" value="Сохранить" />
    </div>
</form>
