@model TestQuestionViewModel

<div class="text_error message">
    @Html.ValidationMessage("Error")
</div>

<form class="forms" method="post" asp-controller="Test" asp-action="EditQuestion">
    <input type="hidden" asp-for="Id" />    
    <input type="hidden" asp-for="TestTopicId" />
    <div class="formslabel">
        <label asp-for="QuestionText">Текст вопроса</label><br />
        <input class="formsfield" asp-for="QuestionText" />
        <span asp-validation-for="QuestionText" class="text_error"></span>
    </div>    
    <div class="formslabel-button">
        <input class="form-button" type="submit" value="Сохранить" />
    </div>
</form>

@section css {
    <link href="~/css/test.css" rel="stylesheet" asp-append-version="true" />
}