@model CashTestViewModel

<div class="text_error message">
    @Html.ValidationMessage("Error")
</div>


<form class="forms" method="post" asp-controller="Test" asp-action="EditCashTest">
    <input type="hidden" asp-for="Id" />
    <div class="formslabel">
        <label asp-for="CashTestName">Тема</label><br />
        <input class="formsfield" asp-for="CashTestName" />
        <span asp-validation-for="CashTestName" class="text_error"></span>
    </div>
    <div class="formslabel">
        <label asp-for="TestQuestionsAmount">Количество вопросов в тестах</label><br />
        <input class="formsfield" asp-for="TestQuestionsAmount" />
        <span asp-validation-for="TestQuestionsAmount" class="text_error"></span>
    </div>
    <div class="formslabel">
        <label asp-for="WrongAnswersAmount">Количество ошибочных ответов</label><br />
        <input class="formsfield" asp-for="WrongAnswersAmount" />
        <span asp-validation-for="WrongAnswersAmount" class="text_error"></span>
    </div>
    <div class="formslabel-button">
        <input class="form-button" type="submit" value="Сохранить" />
    </div>
</form>

@section css {
    <link href="~/css/test.css" rel="stylesheet" asp-append-version="true" />
}