@model LoginViewModel

<div class="wrapper-login">
<form class="forms" method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div class="login-form">
            <div class="login-text"><strong></>Пройдите авторизацию</strong></div>
           <div asp-validation-summary="ModelOnly" class="text_error"></div>
             <div class="formslabel">
            <input class="formsfield" asp-for="UserName" placeholder="Введите логин" /><br />
               <span asp-validation-for="UserName" class="text_error"></span>
             </div>
             <div class="formslabel">
            <input class="formsfield" asp-for="Password" placeholder="Введите пароль" /><br />
               <span asp-validation-for="Password" class="text_error"></span>
             </div>
            <div class="formslabel_button">
                <input class="login_button" type="submit" value="ВОЙТИ" />
            </div>
    </div>
</form>
</div>

@section css {
    <link href="~/css/user.css" rel="stylesheet" asp-append-version="true" />
}