@model ProfileViewModel

<form class="forms" method="post" asp-controller="Profile" asp-action="EditProfile">
    <div class="formslabel">
        <label asp-for="Name">Фамилия</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="formslabel">
        <label asp-for="LastName">Имя</label><br />
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="formslabel">
        <label asp-for="MiddleName">Отчество</label><br />
        <input asp-for="MiddleName" />
        <span asp-validation-for="MiddleName"></span>
    </div>
    <div class="formslabel">
        <input class="button" type="submit" value="Сохранить" />
    </div>
</form>
@section css {
    <link href="~/css/profile.css" rel="stylesheet" asp-append-version="true" />
}